.row {
    --bs-gutter-x: 0 !important;
}

.modal-dialog {
    max-width: 50% !important;
}

.closebtn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    font-size: 30px;
}

.closebtnimage {
    margin-top: 45px !important;
}
