.row {
    --bs-gutter-x: 0 !important
}
.product_about {
    transition: all 2s linear !important;
}
.fa-times {
    float: right !important;
    margin-right: 20px !important;
    cursor: pointer;
}