@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

.mahsulotInfo {
  padding: 48px 0;
  .video-block {
    .video {
      border-radius: 10px !important;
    }
  }

  .cont {
    padding-left: 50px;
    .title {
      h1 {
        line-height: 60px;
        font-size: 40px;
        font-family: "Open Sans", sans-serif;
        color: #00477a;
        position: relative;
        &::after {
          content: " ";
          height: 4px;
          width: 15%;
          display: block;
          position: absolute;
          left: 0;
          bottom: -5px;
          background-image: linear-gradient(110deg, #00477a 0%, #00aa8d 80%);
        }
      }
      p {
        margin: 0;
        padding: 0.8rem 0;
        color: rgba(52, 60, 92, 0.6);
        font-family: sans-serif;
        font-weight: 500 !important;
        font-size: 16px;
      }
    }
  }
}
